# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/
.pytest_cache/
.mypy_cache/
.cache/

# Environments
.env
.venv/
venv/
ENV/

# IDE/editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# tokens
tokens/
credentials.json
token.json